body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#heading {
    text-align: center;
    background-color: turquoise;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
p {
    font-size: larger;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: turquoise 5px solid;
}