body {
    font-family: helvetica;
    background-color: lightskyblue;
}

h1 {
    text-align: center;
}
h2 {
    color: seagreen;
}

a {
    color: seagreen;
    border: 2px solid violet;
}

form {
    background-color: thistle;
}