<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Valuks Farm</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <h1>Welcome to Valuks Farm</h1>
        <h3>These are our awesome animals</h3>
        <ul>
            <li>rabbits</li>
            <li>guinea pigs</li>
            <li>chickens</li>
            <li>hamsters</li>
            <li>gekos</li>
            <li>wild animals</li>
        </ul>
        <img src="{% static 'ZooPic.jpg' %}" alt="Zoo picture">
        <br>
        <button onclick="buttonFunc()">Click me</button>
        <br>
        <a href="{% url 'contact' %}">Contact us</a>
        <h1>Forms</h1>
        <a href="{% url 'result' %}">Result</a>
        <form action="{% url 'result' %}">
            {% csrf_token %}
            <input type="text" name="user_input">
            <input type="submit" value="Click me">
        </form>

        <script type="text/javascript" src="{% static 'main.js' %}"></script>
    </body>
</html>
